.download {
    background-color:cadetblue;
    color:white;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin: 15px;
}

div {
    z-index:9999 !important;
    left: 0;
    position: sticky;
    padding-top: 7.5px;
    display: block;
    text-align: top;
    scale: 150%;
    background-color: rgba(211, 211, 211, 0.66);

}

.trav {
    color: orange;
    background-color: rgba(0, 136, 255, 0.803);
}