.download {
    background-color:cadetblue;
    color:white;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.download:active {
    background-color: cornflowerblue;
    color: silver;
}

div.bar {
    z-index:9999 !important;
    top: 0;
    position: sticky;
    padding-top: 7.5px;
    display: block;
    text-align: center;
    scale: 150%;
    background-color: rgba(211, 211, 211, 0.66);
    align-self: center;
    align-content: center;
    align-tracks: center;
    align-items: center;
}

.trav {
    cursor: pointer;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: lightskyblue;
    background-color: rgba(211, 211, 211, 0.477);
    margin-left: -2px;
    margin-right: -2px;
}

.used {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: lightskyblue;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(211, 211, 211, 0.815);
    margin-left: 0;
    scale: 125%;
    margin: 0;
}

.trav:hover {
    scale: 125%;
    background-color: rgba(211, 211, 211, 0.815);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#older {
    display: none;
    background-color: wheat;
    line-height: 33px;
    width: 500px;
}

li {
    cursor: pointer;
    border-color: darkgoldenrod;
    list-style-type: disc;
    list-style-position: inside;
    border-bottom: 5px;
    border-bottom-style: double;
    border-bottom-color: darkgoldenrod;
    width: 75px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.33);
}

.old {
    text-decoration: none;
    color: black;
}

.toggle {
    opacity: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 0 0 3px 0;
    margin-top: 10px;
}